body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  padding: 10px 16px;
  background: teal;
  color: #f1f1f1;
}
.header-right {
  float: right;
  color: black;
}
.header a.active {
  color: black;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}
.header-right {
  float: right;
}
.header a {
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.title{
	text-align:center;
}

.partition{
        background-image: url("b.jpg");

        width: auto;
        height: 300px;
     
    }
	
.box {
  transition: box-shadow .3s;
  width: 300px;
  height: 300px;
  margin: 35px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
}
.box:hover {
  box-shadow: 0 0 11px teal; 
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.author{
	padding-left:10px;
	font-weight:bold;
}
.name{
	padding-left:10px;
	font-size:13px;
	
}
.p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn {
  background-color: #ddd;
    border: none;
    color: black;
    padding: 11px 34px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    
	
	cursor: pointer;
  box-shadow: inset 0 0 0 0 teal;
  
  transition: ease-out 0.1s;
}

.btn:hover {
  /*background-color: teal;
  color: white;*/
   box-shadow: inset 400px 0 0 0 teal;
}


body {
  height: 100%;
  margin: 0;
  background: beige;
}
.partition2{
       background-image: url(Detecti.gif);
    width: 1000px;
    height: 500px;
    margin-top: 80px;
    margin-left: 420px;
    background-repeat: no-repeat;
     
    }
	.part2_left{
		width:33.3%
	}
	.part2_center{
		width:33.3%
	}
	.part2_right{
		width:33.3%
	}
	.samosa{
		width:200px;
		height:100px
	}