*{
    margin: 0;
    padding: 0;
  }

  body .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  body .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 15px;
  }
  body .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  

  .card{
      height: 271px;
      min-width: 471px;
      background-color:linear-gradient(45deg, black, brown);
      box-shadow:  rgba(0,0,0,0.15) 0px 5px 15px 0px;
      position: relative;
      border-radius: 21px;
      padding: 21px;
      color: black;
      transition: all 0.2s;

  }
 .card img{
    height: 369px;
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    
 }

 .card h2 {
    margin-top: 20px;
    color: orange;
    transition: 0.2s;

 }

 .card p, 
 a {
 font-family: "source sans pro", sans-serif;
 }

 .card p{
      width: 200px;
      margin-bottom: 25px;
 }

 .card a{
     text-decoration: none;
     text-transform: uppercase;
     color:black;
     background-color: orange;
     padding: 4px 10px;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
 }

 .card a:hover{
     color: black;
     background-color: white;

 }

 .card:hover img{

    left: 80%;
    height: 399px;
    top:40%;

 }

 .card:hover h2 {
     font-size: 40px;
     margin-bottom: 15px;
     letter-spacing: 1px;
 }



  .card2{
      height: 271px;
      min-width: 471px;
      background-color:linear-gradient(45deg, black, grey);
      box-shadow:  rgba(0,0,0,0.15) 0px 5px 15px 0px;
      position: relative;
      border-radius: 21px;
      padding: 20px;
      color: black;
      transition: all 0.2s;

  }
 .card2 img{
    height:371px;
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    
 }

 .card2 h2 {
    margin-top: 20px;
    color: red;
    transition: 0.2s;

 }

 .card2 p, 
 a {
 font-family: "source sans pro", sans-serif;
 }

 .card2 p{
      width: 200px;
      margin-bottom: 25px;
 }

 .card2 a{
     text-decoration: none;
     text-transform: uppercase;
     color:black;
     background-color: red;
     padding: 4px 10px;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
 }

 .card2 a:hover{
     color: black;
     background-color: white;

 }

 .card2:hover img{

    left: 80%;
    height: 400px;
    top:40%;

 }

 .card2:hover h2 {
     font-size: 40px;
     margin-bottom: 15px;
     letter-spacing: 1px;
 }


 .card3
 {
     height: 270px;
     min-width: 470px;
     background-color:linear-gradient(45deg, black, brown);
     box-shadow:  rgba(0,0,0,0.15) 0px 5px 15px 0px;
     position: relative;
     border-radius: 20px;
     padding: 20px;
     color: black;
     transition: all 0.2s;

 }
.card3 img {
   height: 470px;
   max-width: 100%;
   position: absolute;
   top: 40%;
   left: 60%;
   transform: translate(-50%, -50%);
   transition: all 0.2s;
   
}

.card3 h2 {
   margin-top: 20px;
   color: pink;
   transition: 0.2s;

}

.card3 p, 
a {
font-family: "source sans pro", sans-serif;
}

.card3 p{
     width: 200px;
     margin-bottom: 25px;
}

.card3 a{
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    background-color: pink;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.card3 a:hover{
    color: black;
    background-color: white;

}

.card3:hover img{

   left: 80%;
   height: 500px;
   top:40%;

}

.card3:hover h2 {
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.cards{
    height: 100vh;
    font-family: "Girassol", cursive;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}


    
 

    
 